.wei{width:1240px;margin:0 auto;}
a{text-decoration:none;color:black;}
/* 上部分 */
.shang_div{width:100%;}
.qcfd:after{display:block;content:"";clear:both;}
.shang_ul{list-style:none;width:1000px;padding:0;margin:0;}
.shang_li{float:left;}
.shang_a{display:block;width:150px;
text-align:center;padding:15px 0;}

.shang_img{width:50px;margin:0 40px;}
.shang_a>span{display:block; font-size:10px;color:#999;}
.shang_yc{width:155px;float:right;text-align:right;}
.shang_yc>span{font-size:9px;color:#bbb;}
.shang_yc>p{margin:5px 0 0;font-size:23px;color:#00c3f5;}
.shang_yc>a{float:right;width:88px;height:30px;text-align:center;line-height:30px;border-radius:17px;background:#0bbbef;color:white;}
/* hr */
.xia_hr{margin:20px 0 30px 0}
/* 下部分 */
.xia_ul{width:1240px;list-style:none;margin:0;padding:0;}
.xia_li{float:left;}
.xia_li>a{padding-right:20px;color:#999999;margin-left:20px;border-right:1px solid #999;font-size:14px;}
.xia_li>.di_a{border:0;}
.di_div,.di_div>a{color:#999;font-size:10px;}










